.user-profile-img{
    width: 130px;
    border-radius: 5%;
    border: 2px solid black;
}
.profile-container img{
    opacity: 0.9;
}
.profile-container span{
    opacity: 0.5;
}
.profile-container:hover span{
    opacity: 1;
}
.profile-container:hover{
    cursor: pointer;
}
.profile-container:hover img{
    border: 2px solid white;
    cursor: pointer;
    opacity: 1;
}