.movie-card{
    width: 10rem;
    height: 13rem;
    background-color: black;
}
.carousel-control-prev{
    width: fit-content;
}
.carousel-control-next{
    width: fit-content;
}
.movie-card img{
    opacity: 0.8;
    width: 10rem;
    height: 13rem;
    object-fit: cover;
    border: solid 2px black;
}
.carousel-indicators{ 
    visibility: hidden !important;
}
.card-body{
    display: none;
}
.movie-card:hover img{
    border: solid 2px white;
    cursor: pointer;
}
.movie-card:hover img{
    opacity: 1;
}
.caro-slide{
    text-align: center;
    
}
