.movie-card{
    width: 10rem;
    height: 13rem;
    background-color: black;
}

.movie-card img{
    opacity: 0.7;
    width: 10rem;
    height: 13rem;
    object-fit: cover;
    border: solid 2px black;
}
.carousel-indicators{ 
    visibility: hidden !important;
}
.card-body{
    display: none;
}
.movie-card:hover img{
    border: solid 2px white;
    cursor: pointer;
}
.movie-card:hover img{
    opacity: 1;
}
