.header{
    background-color: black;
}
.header-img{
    height: 50px;
    object-fit: contain;
}
.header-nav{
    padding-right: 5px;
    color: rgb(177, 176, 176);
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-nav i{
    color: rgb(177, 176, 176);
}
.header-nav:hover{
    color: rgb(102, 102, 102);
}
.header-nav:hover i{
    color: rgb(102, 102, 102);
}
.navbar-collapse.collapse.show ~ .display-list{
    display: none;
}
